body {
  margin: 0;
  font-family: 'Lato', sans-serif;

}

header,
main {
  padding: .9em;
}

.logo {
  width: 150px;
}

main {
  display: flex;
}

h2 {
  color: #4056F4;
}

footer {
  padding: .7em;
  background: #4056F4;
  color: white;
  text-align: center;
  font-size: .8em;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;;
}

@media (min-width: 500px) {
  header,
  main {
    padding: 2em;
  }
}
